*.o
*.ll
*.json
*.csv
*.org
tt*
test*
assess-tuning/dtn_tune
packaging/SATuning_Module.zip
packaging/ASSESSdtntune.zip
testing/xdp_loader
testing/xdp_loader_light
cli/facil_io_7.0/
cli/tmp/
packaging/SATuning_Module.zip
packaging/ASSESSdtntune.zip
testing/modules/tuningMod/.Module.symvers.cmd
testing/modules/tuningMod/.modules.order.cmd
testing/modules/tuningMod/.tuningModule.ko.cmd
testing/modules/tuningMod/.tuningModule.mod.cmd
testing/modules/tuningMod/.tuningModule.mod.o.cmd
testing/modules/tuningMod/.tuningModule.o.cmd
testing/modules/tuningMod/Module.symvers
testing/modules/tuningMod/modules.order
testing/modules/tuningMod/tuningModule.ko
testing/modules/tuningMod/tuningModule.mod
testing/modules/tuningMod/tuningModule.mod.c
userspace/user_dtn
userspace/myclient
userspace/mybinncli
userspace/sim_server
userspace/kafka/kaf_consumer
userspace/kafka/kaf_producer
