[Unit]
Description=Start Tuning Module process
After=network-online.target

[Service]
ExecStartPre=/bin/sleep 30
ExecStart=TM_PKG_DIR/userdtn_adm start rf
ExecStop=TM_PKG_DIR/userdtn_adm stop

[Install]
WantedBy=network-online.target
